body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.d-inline-block {
  display: inline-block !important;
  margin: 0;
  padding: 0;
}
.title {
  text-align: center;
  margin-top: 40vh;
}
.loginInp {
  display: block;
  width: auto;
  padding: 4px 10px;
  height: 2em;
  margin: 20px auto;
  min-width: 500px;
  font-size: 1em;
  text-align: center;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  opacity: 1; /* Firefox */
  text-align: center;
  font-style: italic;
}

.btn-login {
  display: block;
  background-color: #0096ff;
  color: white;
  box-shadow: none;
  border: none;
  padding: 10px;
  height: auto;
  width: auto;
  margin: 20px auto;
  border-radius: 4px;
  font-size: 1em;
}

button:disabled,
button[disabled] {
  opacity: 0.5;
}

.btn {
  opacity: 0.8;
  margin: 0;
}
.btn:hover {
  cursor: pointer;
  opacity: 1;
}

.inp-area {
  display: grid;
  grid-template-columns: auto 100px;
  column-gap: 10px;
  padding: 0;
}

.btn-blue {
  background-color: #0096ff;
  color: white;
  box-shadow: none;
  border: none;
  padding: 10px 20px;
  height: auto;
  width: 100px;
  margin-left: 10px;
  border-radius: 4px;
  font-size: 1em;
  float: right;
}

.chatbox-inp {
  float: left;
  width: 96%;
  height: 2em;
  font-size: 1em;
  min-width: 400px;
  clear: both;
}

.msg {
  display: block;
  padding: 10px;
  clear: both;
  border-radius: 16px;
}

.msg-receiver {
  display: block;
  margin-top: 5px;
  padding: 8px;
  background-color: #78c7ff;
  float: left;
}
.msg-sender {
  display: block;
  margin-top: 5px;
  float: right;
  background-color: #f7f7f7;
}

.msg-time {
  float: right;
  font-size: 0.6em;
  clear: both;
  padding-bottom: 4px;
  color: #555555;
  font-weight: bold;
}
.msg-details {
  float: left;
  clear: both;
  min-width: 50px;
  max-width: 20rem;
}
.msg-author > h3 {
  display: inline-block;
  border-right: 1px solid black;
  padding: 0 8px 0 0;
  margin: 0;
}

.chatbox-area {
  height: 80vh;
  position: sticky;
  bottom: 0;
  overflow: scroll;
  margin-bottom: 20px;
}

.chatbox-area .adduser {
  background: red;
  opacity: 0.8;
  height: 300px;
  padding: 10px;
}
.wrapper {
  position: absolute;
  overflow: hidden;
  width: 90%;
  right: 0;
  height: 100%;
  z-index: 10;
}

.wrapper .btn {
  float: right;
  font-size: 2em;
  clear: both;
  padding: 10px;
}

.wrapper .userList {
  clear: both;
  float: left;
  display: block;
  position: relative;
  padding: 10px;
  color: black;
}
.userList { width: 100%; text-align: center;}
.userList button {
  margin-top: 20px;
  width: 100%;
}

.usernameTag {
  display: block;
  position: relative;
  float: none !important;
  border-radius: 10px;
  padding: 10px;
  margin: 4px !important;
}
.selected {
  background: lightgray;
}

.slide {
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  background: white;
  transition: 0.5s;
}

.wrapperslide {
  transition: 0.5s;
  right: 0;
}

.chatbox-header {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid lightgray;
}
.chatbox-header .btn {
  float: right;
  font-size: 1em;
  margin-top: 0.5rem;
}

.chatbox-title {
  display: inline-block;
  width: auto;
  max-width: 200px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-info {
  margin-bottom: 10px;
}

.users {
  display: inline-block;
  border-right: 2px solid rgb(223, 223, 223);
  overflow: scroll;
  margin-left: -24px;
}

.chat {
  display: inline-block;
  padding: 10px 10px 0 10px;
  min-height: 680px;
  height: 100vh;
}

.chat-container {
  display: grid;
  grid-template-columns: 200px auto;
}

.error-login {
  color: red;
  text-align: center;
  margin: -10px auto;
}

.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}

.chat-item {
  border-bottom: 1px solid lightgray;
  padding: 8px;
  border: 0;
  margin: 0;
}

.chat-item:hover {
  cursor: pointer;
  background: lightgray;
}
.bg {
  background: lightgray;
}
.chat-item .title {
  display: block;
  width: auto;
  font-weight: bold;
  margin: 0;
  text-align: left;
  padding-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat-item .msg-preview {
  display: block;
  width: auto;
  padding-right: 8px;
  margin: 4px auto 8px auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bold {
  font-weight: bolder;
}
